﻿<div class="box box-solid box-default" ng-controller="ExamCenterFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{title}}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" title="Back to list" ng-click="goBack()">
                <i class="fa fa-reply"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form validation waiting="{{waiting}}" class="form-horizontal">
            <div class="alert alert-danger" ng-show="errors.length">
                <ul>
                    <li ng-repeat="error in errors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"> Center Name <span class="text-danger">*</span></label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="item.name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Address <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input type="text" placeholder="Address" class="form-control" ng-model="item.address" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">State</label>
                <div class="col-sm-5">
                    <select class="form-control input-sm" ng-model="item.stateId" 
                            ng-options="option.id as option.name for option in states">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <h3 class="page-header">
                Contact Information
            </h3>
            <div class="form-group">
                <label class="col-sm-3 control-label"> Contact Person Name</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="item.contactPersonName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"> Phone number</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="item.contactpersonPhone" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit"  class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                    <a class="btn btn-default" ng-click="goBack()"><i class="fa fa-remove"></i> Cancel</a>

                </div>

            </div>
        </form>
    </div>
</div>