﻿<div class="box box-solid box-default" waiting="{{waiting}}" ng-controller="DepartmentFormCtrl">
    <div class="box-header">
        <h3 class="box-title">{{formTitle}}</h3>
    </div>
    <div class="box-body">
        <form role="form" class="form-horizontal" validation>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.name" type="text" name="name" class="form-control required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.description" name="description" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button class="btn btn-danger" title="Back to list" ui-sref="department.list"><i class="fa fa-remove"></i> Cancel</button>
                </div>

            </div>
        </form>
       
    </div>
  
</div>