﻿<section class="content" waiting="{{waiting}}">
    <div class="row">
    
        <div class="box box-solid box-default">
            <div class="box-header">
                <h3 class="box-title">
                    <i class="fa fa-list"></i> Department
                </h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-success btn-sm" title="Create User" ui-sref="department.create">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-white btn-sm" ng-click="setupPagination()">
                        <i class="fa fa-refresh" tooltip="Reload"></i>
                    </a>
                   
                </div>
            </div>

            <div class="box-body">
                <div class="col-md-6">
                    <div>
                        <label>
                            Show
                            <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                    ng-options="option.id as option.name for option in pageSize">
                            </select> Entries
                        </label>

                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Description</th>
                           
                            <th>Date Created</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items" class="no-animate">
                            <td ng-bind="getIndexSeed($index)"></td>
                            <td ng-bind="item.name"></td>
                            <td ng-bind="item.description"></td>
                          
                            <td>
                                {{item.dateCreated|date:'dd/MM/yyyy h:mma'}}
                            </td>
                            <td>
                                <a tooltip="Edit" class="btn btn-xs btn-primary" tooltip="Edit" ui-sref="department.edit({id:item.id})">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a tooltip="Delete" class="btn btn-xs btn-danger" ng-click="deleteItem(item)" tooltip="Delete">
                                    <span class="fa fa-remove"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot ng-show="items.length<1">
                        <tr>
                            <td colspan="6">No record</td>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="col-md-5">
                    {{getPageInfoDescription()}}
                </div>
                <div class="col-md-7">
                    <div class="pull-right">
                        <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                    ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                    class="pagination" boundary-links="true" rotate="false">
                        </pagination>
                    </div>
                </div>
            </div>
        </div><!-- /.box -->
    </div><!-- /.row -->
</section><!-- /.content -->
