﻿
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a ui-sref="home.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="memo.list">
            <i class="fa fa-list"></i> <span>Memo</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span> Configuration</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a ui-sref="account.list"> <i class="fa fa-circle-o"></i> <span> Account</span></a>
                <a ui-sref="paymentcategory.list"> <i class="fa fa-circle-o"></i> <span> Payment Category</span></a>
                <a ui-sref="accreditationstatustype.list"> <i class="fa fa-circle-o"></i> <span> Accreditation Type</span></a>


            </li>
        </ul>
    </li>
   <li >
        <a ui-sref="paymenttransaction.list">
            <i class="fa fa-users"></i> <span> Payments</span>
        </a>
    </li>
</ul>