﻿
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a ui-sref="home.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="memo.list">
            <i class="fa fa-list"></i> <span>Memo</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span>User Management</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a ui-sref="manageuser.list"> <i class="fa fa-circle-o"></i> <span> Manage Users</span></a>
                <a ui-sref="managerole.list"> <i class="fa fa-circle-o"></i> <span> Manage Roles</span></a>
              
            </li>
        </ul>
    </li>
  
</ul>