﻿﻿@using System.Web.Mvc.Html
@using System.Web.Optimization
<!DOCTYPE html>

<html ng-app="app">
<head>

    <meta charset="UTF-8">
    <title>NPMC</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Assets/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Assets/bootstrap/css/ionicons.min.css" rel="stylesheet"/>
    <link href="~/Assets/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Assets/dist/css/skins/skin-blue.min.css" rel="stylesheet"/>
    <link href="~/Assets/dist/css/skins/skin-green.min.css" rel="stylesheet"/>

    <link href="~/Content/animate.css" rel="stylesheet"/>
    <link href="~/Content/angular-ui-select.min.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Scripts/angular_Busy/angular-busy.min.css" rel="stylesheet"/>
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet"/>
    <link href="~/Scripts/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="~/Scripts/kendo/kendo.flat.min.css" rel="stylesheet"/>
    <link href="~/Content/waitMe.min.css" rel="stylesheet"/>
    <link href="~/Scripts/angularMaterial/angular-material.css" rel="stylesheet"/>
    <link href="~/Scripts/angularDualSelect/dualmultiselect.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @*<base href="/">*@

    <style>
        .btn-white { background-color: #fff; }
    </style>
</head>
<body class="skin-green fixed">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <b>NPMC</b> @ViewBag.Title</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu" ng-controller="UserProfileCtrl">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="~/Assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li><!-- end message -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">See All Messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
                            <span class="hidden-xs">@ViewBag.User</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="~/Assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                                <p>
                                    <span>@ViewBag.User</span>
                                    <small></small>
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ui-sref="user.myprofile" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" ng-click="logout()" class="btn btn-default btn-flat"> Sign Out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            @Html.Partial((string) ViewBag.SideBar)

        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span ng-bind="$state.current.data.pageTitle"></span> <small ng-bind="$state.current.data.pageSubtitle"></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy" template-url=""></ui-breadcrumbs>
                </li>
            </ol>

        </section>
        <!-- Main content -->
        <section class="content">
            @RenderBody()
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <p>
            <strong> &copy; @DateTime.Now.Year -All rights reserved.</strong>
        </p>
    </footer>
</div><!-- ./wrapper -->
<!-- jQuery 2.1.3 -->
<script src="~/Assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<!-- Bootstrap -->
<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>


<script src='~/Assets/plugins/fastclick/fastclick.min.js'></script>

    <link href="~/Assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

<!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="~/Assets/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="~/Assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="~/Assets/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/Assets/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/Assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="~/Assets/plugins/chartjs/Chart.min.js" type="text/javascript"></script>

<!-- SlimScroll -->
<script src="~/Assets/plugins/slimScroll/jquery.slimScroll.min.js" type="text/javascript"></script>
<!-- FastClick -->





<script src="~/Scripts/jquery.validate.min.js"></script>

<!-- AdminLTE App -->
<script src="~/Assets/dist/js/app.min.js" type="text/javascript"></script>
<script src="~/Scripts/waitMe.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular/angular-resource.min.js"></script>
<script src="~/Scripts/angular/angular-sanitize.min.js"></script>
<script src="~/Scripts/angular/angular-animate.min.js"></script>
<script src="~/Scripts/angular/angular-route.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/Scripts/angular/angular-ui-select.min.js"></script>
<script src="~/Scripts/angular/ng-file-upload.min.js"></script>
<script src="~/Scripts/angular/ng-file-upload-shim.min.js"></script>
<script src="~/Scripts/statehelper.min.js"></script>
<script src="~/Scripts/uiBreadcrumbs.js"></script>
<script src="~/Scripts/toastr/toastr.min.js"></script>
<script src="~/Scripts/CustomFormValidator.js"></script>
<script src="~/Scripts/jquery.cokie.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/Scripts/WYSIWYG/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/WYSIWYG/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/WYSIWYG/tinymce.min.js"></script>
<script src="~/Scripts/angularMaterial/angular-aria.js"></script>
<script src="~/Scripts/angularMaterial/angular-material.js"></script>
<script src="~/Scripts/angularDualSelect/dualmultiselect.js"></script>


<script src="~/Scripts/bootbox.min.js"></script>

@Scripts.Render("~/bundles/common")
@RenderSection("scripts", false)
</body>
</html>