﻿
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a ui-sref="home.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="memo.list">
            <i class="fa fa-list"></i> <span>Memo</span>
        </a>
    </li>
  
</ul>