<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a ui-sref="home.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="memo.list">
            <i class="fa fa-list"></i> <span>Memo</span>
        </a>
    </li>
    <li>
        <a ui-sref="mail.list">
            <i class="fa fa-inbox"></i> <span>Mails</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span> Configuration</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a ui-sref="department.list"> <i class="fa fa-circle-o"></i> <span> Department</span></a>
                <a ui-sref="designation.list"> <i class="fa fa-circle-o"></i> <span> Designation</span></a>
                <a ui-sref="examsetup.list"> <i class="fa fa-circle-o"></i> <span> Exam</span></a>
                <a ui-sref="examcenter.list"> <i class="fa fa-circle-o"></i> <span> Centers</span></a>
                <a ui-sref="examrequirement.list"> <i class="fa fa-circle-o"></i> <span> Exam Requirement</span></a>
                <a ui-sref="dietsetup.list"> <i class="fa fa-circle-o"></i> <span> Diet</span></a>
                <a ui-sref="dietpayment.list"> <i class="fa fa-circle-o"></i> <span> Diet Payment</span></a>
                <a ui-sref="exemptionfee.list"> <i class="fa fa-circle-o"></i> <span> Exemption Fee</span></a>
                <a ui-sref="resultcategory.list"> <i class="fa fa-circle-o"></i> <span> Result Category</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a ui-sref="staff.list">
            <i class="fa fa-list"></i> <span>Staff Record</span>
        </a>
    </li>
    <li>
        <a ui-sref="audit.list">
            <i class="fa fa-list"></i> <span>Audit Trails</span>
        </a>
    </li>
</ul>