﻿<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a ui-sref="home.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a ui-sref="memo.list">
            <i class="fa fa-list"></i> <span>Memo</span>
        </a>
    </li>
    <li>
        <a ui-sref="mailclient.list">
            <i class="fa fa-inbox"></i> <span>Mails</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span> Configuration</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a ui-sref="accreditationstatus.list">
                    <i class="fa fa-circle-o"></i> <span> Accreditation Status</span>
                </a>
                <a ui-sref="institution.list">
                    <i class="fa fa-circle-o"></i> <span> Institution</span>
                </a>
                <a ui-sref="institutionfaculty.list">
                    <i class="fa fa-circle-o"></i> <span> Institution Faculty</span>
                </a>
                <a ui-sref="accreditationstatustype.list">
                    <i class="fa fa-circle-o"></i> <span> Accreditation Type</span>
                </a>
                <a ui-sref="faculty.list">
                    <i class="fa fa-circle-o"></i> <span> Faculty</span>
                </a>
                <a ui-sref="subspecialty.list">
                    <i class="fa fa-circle-o"></i> <span> Sub-Specialty</span>
                </a>
                <a ui-sref="workshop.list">
                    <i class="fa fa-circle-o"></i> <span> Workshop</span>
                </a>

            </li>
        </ul>
    </li>
</ul>