﻿<div class="box box-solid box-default" waiting="{{waiting}}" ng-controller="AccreditationStatusFormCtrl">
    <div class="box-header">
        <h3 class="box-title" ng-bind="title"></h3>
    </div>
    <!-- form start -->
    <form role="form" class="form-horizontal" validation>
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.name" type="text" name="name" class="form-control required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.description" name="description" type="text" class="form-control required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Number of year <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.numberOfYear" name="numberOfYear" type="number" class="form-control required number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="submit" class="btn btn-warning">Reset</button>
                </div>

            </div>
        </div>
    </form>
</div>