﻿<section class="content" waiting="{{waiting}}">
    <div class="row">
        <div filter="filter.html"></div>
        <div class="box box-solid box-default">
            <div class="box-header">
                <h3 class="box-title">
                    <i class="fa fa-list"></i> Accreditation Status
                </h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-success btn-sm" title="Create User" ui-sref="accreditationstatus.create">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-white btn-sm" ng-click="setupPagination()">
                        <i class="fa fa-refresh" tooltip="Reload"></i>
                    </a>
                    <a tooltip="Search" class="btn btn-primary btn-sm" ng-hide="hideFilter" ng-click="hideFilter=true">
                        <span class="fa fa-search"></span>
                    </a>
                </div>
            </div>

            <div class="box-body">
                <div class="col-md-6">
                    <div>
                        <label>
                            Show
                            <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                    ng-options="option.id as option.name for option in pageSize">
                            </select> Entries
                        </label>

                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Years</th>
                            <th>Date Created</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td ng-bind="getIndexSeed($index)"></td>
                            <td ng-bind="item.name"></td>
                            <td ng-bind="item.description"></td>
                            <td ng-bind="item.numberOfYear"></td>
                            <td>
                                {{item.dateCreated|date:'dd/MM/yyyy h:mma'}}
                            </td>
                            <td>
                                <a tooltip="Edit" class="btn btn-xs btn-primary" tooltip="Edit" ui-sref="accreditationstatus.edit({id:item.id})">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a tooltip="Delete" class="btn btn-xs btn-danger" ng-click="deleteObject(item)" tooltip="Delete">
                                    <span class="fa fa-remove"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot ng-show="items.length<1">
                        <tr>
                            <td colspan="100%">No record</td>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="col-md-5">
                    {{getPageInfoDescription()}}
                </div>
                <div class="col-md-7">
                    <div class="pull-right">
                        <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                    ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                    class="pagination" boundary-links="true" rotate="false">
                        </pagination>
                    </div>
                </div>
            </div>
        </div><!-- /.box -->
    </div><!-- /.row -->
</section><!-- /.content -->
<script type="text/ng-template" id="filter.html">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" ng-model="filter.name" class="form-control input-sm" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date Created From</label>
            <div class="input-group">
                <input type="text" class="form-control " datepicker-popup="dd/MM/yyyy" ng-model="filter.dateCreatedFrom"
                       is-open="opened.dateCreatedFrom" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn  btn-default" ng-click="openDate($event,'dateCreatedFrom')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date Created Date To</label>
            <div class="input-group">
                <input type="text" class="form-control " datepicker-popup="dd/MM/yyyy" ng-model="filter.dateCreatedTo"
                       is-open="opened.dateCreated" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDate($event,'dateCreated')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div> 
</script>