﻿

<div filter="filter.html"></div>
<form>
    <div class="box box-solid box-default" waiting="{{waiting}}">
        <div class="box-header">
            <h3 class="box-title">
                <i class="fa fa-list"></i> {{title}}
            </h3>
            <div class="box-tools pull-right">
                <a tooltip="Search" class="btn btn-white btn-sm" ng-hide="hideFilter" ng-click="hideFilter=true">
                    <span class="fa fa-search"></span>
                </a>
                <a class="btn btn-white btn-sm" ng-click="setupPagination()">
                    <i class="fa fa-refresh" tooltip="Reload"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label>
                            Show
                            <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                    ng-options="option.id as option.name for option in pageSize"></select> Entries
                        </label>

                    </div>
                </div>
                <div class="col-md-12">

                    <table class="table table-hover btn-gradient-grey">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ReferenceId</th>
                                <th>Narration</th>
                                <th>Payee</th>
                                <th>Amount</th>
                                <th>Amount Paid</th>
                                <th>Paid?</th>
                                <th>Payment Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ngRepeat: row in workflows -->
                            <tr ng-repeat="item in items">
                                <td>{{getIndexSeed($index)}}</td>
                                <td>{{item.referenceId}}</td>
                                <td>{{item.narration}}</td>
                                <td>{{item.amount|currency}}</td>
                                <td>{{item.amountPaid|currency}}</td>
                                <td>{{item.hasPaid?"Yes":"No"}}</td>
                                <td>{{item.paymentDate|date:'dd/MM/yyyy h:mma'}}</td>
                                <td>
                                     
                                </td>
                            </tr>

                            <tr>
                                <td colspan="8" ng-hide="items.length">
                                    No records found to show
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-md-5">
                    {{getPageInfoDescription()}}
                </div>
                <div class="col-md-7">
                    <div class="pull-right">
                        <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                    ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                    class="pagination" boundary-links="true" rotate="false"></pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<script type="text/ng-template" id="filter.html">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="referenceId">ReferenceId</label>
            <input class="form-control input-sm" id="referenceId" placeholder="Enter ReferenceId" ng-model="filter.referenceId" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="payeeName">Payee</label>
            <input class="form-control input-sm" id="payeeName" placeholder="Enter Payee Name" ng-model="filter.payeeName" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="name">Account</label>
            <select class="form-control input-sm" ng-model="filter.accountId" 
                    ng-options="option.id as option.name for option in accounts">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Made Payment</label>
            <select class="form-control" ng-change="setupPagination()"
                    ng-options="option.value as option.name for option in yesNoList"
                    ng-model="filter.hasPaid">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="paymentTypeId">Payment Type</label>
            <select class="form-control input-sm" ng-model="filter.paymentTypeId"
                    ng-options="option.id as option.name for option in paymentTypes">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="code">Start Date</label>
            <p class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="filter.paymentDateFrom"
                       is-open="opened.paymentDateFrom" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'paymentDateFrom')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="code">End Date</label>
            <p class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="filter.paymentDateTo"
                       is-open="opened.paymentDateTo" datepicker-options="dateOptions" datepicker-popup="dd/MM/yyyy"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'paymentDateTo')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</script>
