﻿<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{item.title}}</h3>
    </div>
    <div class="box-body layout-margin-lg">
        <h4 ng-bind="item.dateCreated|date:'medium'"></h4>
        <dl class="dl-horizontal">
            <dt>Sender</dt>
            <dd ng-bind="item.sender"></dd>
            <dt>Sender Address</dt>
            <dd ng-bind="item.senderAddress"></dd>
            <dt>Recipient</dt>
            <dd>{{item.recepientName}} ({{item.unitName}})</dd>
            <dt>Description</dt>
            <dd>{{item.description}}</dd>
            <dt>Status</dt>
            <dd>
                <label class="label"
                       ng-class="{'bg-aqua':item.statusId==1, 'bg-green':item.statusId==3}">
                    {{item.statusName}}
                </label>
            </dd>
        </dl>
        <div class="row" ng-if="item.attachment">
            <hr/>
            <h4>{{item.attachmentModel.length>1?item.attachmentModel.length+ ' Attachments':' Attachment'}}</h4>

            <div class="col-md-3" ng-repeat="x in item.attachmentModel">

                <!-- small box -->
                <div class="small-box bg-gray color-palette">
                    <div class="inner">
                        <h4>
                            KB
                        </h4>
                        <p>
                            {{x.fileName|limitTo:15}}
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa {{getIcon(x.fileTypeId)}}"></i>
                    </div>
                    <span href="#" class="small-box-footer bg-black">
                        <a href="/Uploads/Documents/{{x.fileName}}" ng-if="x.fileTypeId == fileTypes.Image"><i class="fa fa-eye"></i> View&nbsp;&nbsp;&nbsp;</a>
                        <a target="_blank" href="/Uploads/Documents/{{x.fileName}}"><i class="fa fa-download"></i> Download</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>