﻿<div class="box box-solid box-default" waiting="{{waiting}}" ng-controller="MailFormCtrl">
    <div class="box-header">
        <h3 class="box-title" ng-bind="title"></h3>
    </div>
    <!-- form start -->
    <form role="form" class="form-horizontal" validation>
        <div class="box-body">
            <div class="alert alert-danger" ng-show="errors.length">
                <ul>
                    <li ng-repeat="error in errors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Subject<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.title" type="text" name="subject" class="form-control required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Sender<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.sender" type="text" name="sender" class="form-control required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Sender Address</label>
                <div class="col-sm-5">
                    <textarea ng-model="item.senderAddress" name="description" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Recipient department<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <select ng-change="departmentSelected()" ng-model="item.departmentId" ng-options="department.id as department.name for department in departments" class="form-control required">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Recipient<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <ui-select on-select="clearError()" ng-model="item.recipient" name="recipient">
                        <ui-select-match placeholder="Search by name...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="user in (departmentUsers | filter: $select.search) track by user.id">
                            <div ng-bind="user.name"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            We couldn't find any name...
                        </ui-select-no-choice>
                    </ui-select>
                    <p ng-if="errorRecipient" class="text-danger">Recipient field required</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <textarea ng-model="item.description" name="description" rows="5" class="form-control required"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Attachment</label>
                <div class="col-sm-5">
                    <input multiple ngf-select="fileSelected($files)" ng-model="item.file" type="file" name="fileToUpload" class="form-control"/>
                    <div ng-if="percent>0" class="progress" style="height: 10px">
                        <div class="progress-bar" ng-class="{'progress-bar-info':percent<100, 'progress-bar-success':percent>=100}" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{percent}}%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="submit" class="btn btn-warning">Reset</button>
                </div>

            </div>
        </div>
    </form>
</div>