<ol class="breadcrumb">
    <li ng-repeat="crumb in breadcrumbs" ng-class="{ active: $last }" class="no-animate">
        <a ui-sref="{{ crumb.route }}" ng-if="!$last">{{ crumb.displayName | uppercase }}&nbsp;</a><span ng-show="$last">{{ crumb.displayName | uppercase }}</span>
    </li>
 </ol>