﻿
<form class="box box-solid box-default" validation waiting="{{waiting}}" ng-controller="FacultyFormCtrl">
    <div class="box-header">
        <span class="panel-title pn">
            {{title}}
        </span>
        <div class="pull-right">
            <a tooltip="back" class="btn btn-white btn-sm" ng-click="goBack()"><i class="fa fa-reply"></i>  </a>
        </div>
    </div>
    <div class="box-body">
        <div class="form-horizontal">
            <div class="alert alert-danger" ng-show="errors.length">
                <ul>
                    <li ng-repeat="error in errors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group ">
                <label for="name" class="col-sm-3 control-label">Name<span class="font-red">*</span></label>
                <div class="col-sm-5">
                    <input id="name" name="name" ng-model="item.name" placeholder="Name" class="form-control required" />
                </div>
            </div>
            <div class="form-group ">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-5">
                    <textarea id="description" name="description" ng-model="item.description" placeholder="Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group ">
                <label for="code" class="col-sm-3 control-label">Code<span class="font-red">*</span></label>
                <div class="col-sm-5">
                    <input id="code" name="code" type="text" ng-model="item.code" placeholder="Faculty Code" class="form-control required" />
                </div>
            </div>
            <div class="form-group ">
                <label for="paymentCategoryId" class="col-md-3 control-label">Category<span class="font-red">*</span></label>
                <div class="col-md-5">
                    <select ng-model="item.paymentCategoryId" class="form-control required"
                            name="paymentCategoryId" id="paymentCategoryId" ng-change="paymentCategoryChanged()"
                            ng-options="option.id as option.name for option in categories">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="form-group ">
                <label for="paymentFeeId" class="col-md-3 control-label">Amount Payable<span class="font-red">*</span></label>
                <div class="col-md-5">
                    <select ng-model="item.paymentFeeId" class="form-control required"
                            name="paymentFeeId" id="paymentFeeId"
                            ng-options="option.id as option.name for option in paymentFees">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
             
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button class="btn-sm btn btn-success"><i class="fa fa-check"></i> Save &amp; Continue</button>
                    <a class="btn btn-warning btn-sm " ng-click="reloadForm()"><i class="fa fa-refresh"></i> Reset</a>

                </div>
            </div>
        </div>
    </div>

</form>

