﻿
<div class="box box-solid box-default" ng-controller="InstitutionFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{formTitle}}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" title="Back to list" ui-sref="institution.list">
                <i class="fa fa-reply"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form id="inputForm" name="inputForm" novalidate class="form-horizontal  validate-form">

            <div class="form-group">
                <label class="control-label col-md-3">Name <span class="text-red">*</span></label>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="item.name" required error-message="The First Name field is required" placeholder="Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Code <span class="text-red">*</span></label>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="item.code" required error-message="The Code field is required" placeholder="Code" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Address</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="item.address" required error-message="The Address field is required" placeholder="Address" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Website</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="item.website" required error-message="The Website field is required" placeholder="Website" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">State <span class="text-red">*</span></label>
                <div class="col-md-5">
                    <select class="form-control" required error-message="The State field is required"
                            ng-model="item.stateId"
                            ng-options="option.id as option.name for option in states">
                        <option value="">---select---</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Accreditation Status</label>
                <div class="col-md-5">
                    <select class="form-control" required error-message="The Accreditation Status field is required" ng-model="item.accreditationStatusId">
                        <option value="">--Select--</option>
                        <option value="1">Denied</option>
                        <option value="2">Partial</option>
                        <option value="3">Full</option>
                        <option value="4">New</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Year Established</label>
                <div class="col-md-5">
                    <input type="number" class="form-control input-sm" ng-model="item.yearEstablished" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Last Accreditation Date</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="item.lastAccreditationDate"
                               is-open="opened.lastAccreditationDate" datepicker-options="dateOptions"
                               ng-disabled="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'lastAccreditationDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Next Due Date</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="item.nextDueDate"
                               is-open="opened.nextDueDate" datepicker-options="dateOptions"
                               ng-disabled="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'nextDueDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="button" ng-click="submitForm()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                    <button class="btn btn-danger" title="Back to list" ui-sref="institution.list"><i class="fa fa-remove"></i> Cancel</button>
                </div>

            </div>
        </form>
    </div>
</div>