﻿<div class="box box-solid box-default" ng-controller="ExamFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            {{title}}
        </h3>
        <div class="box-tools pull-right">
            <a class="btn btn-white btn-sm" tooltip="Edit" ui-sref="examsetup.edit(item)">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-white btn-sm" tooltip="Back to list" ng-click="goBack()">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
    <div class="box-body" waiting="{{waiting}}" >
        <h3 class="page-header" style="padding-left:50px"> Exam Information</h3>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{item.name}}</dd>
            <dt>Description</dt>
            <dd>{{item.description}}</dd>
        </dl>
        <h3 class="page-header" style="padding-left:50px"> Exam Stages</h3>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Centers</th>
                    <th>Active Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in item.stages">
                    <td>{{$index+1}}</td>
                    <td>{{stage.name}}</td>
                    <td>
                        <ul class="list-inline">
                            <li ng-repeat="center in stage.centers">
                                <label class="label label-success" tooltip="Location: {{center.centerAddress}}">
                                    {{center.examCenterName}}
                                </label>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <span class="toggle" ng-bind-html="stage.isActive|status"
                              ng-class="{'check-color':stage.isActive,'uncheck-color':!stage.isActive}">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h3 class="page-header" style="padding-left:50px"> Exam Types</h3>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Active Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="type in item.typeModels">
                    <td>{{$index+1}}</td>
                    <td>{{type.name}}</td>
                    <td>{{type.description}}</td>
                    <td>
                        <span class="toggle" ng-bind-html="type.isActive|status"
                              ng-class="{'check-color':type.isActive,'uncheck-color':!type.isActive}">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
 
    </div>
</div>