﻿<div class="box box-solid box-default" ng-controller="ExamFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{title}}
        </h3>
        <div class="box-tools pull-right">
            <a class="btn btn-warning btn-sm" title="Back to list" ng-click="goBack()">
                <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <form validation waiting="{{waiting}}" class="form-horizontal  validate-form">
            <h3 class="page-header" style="padding-left:50px"> Exam Information
           
            </h3>
            <div class="alert alert-danger" ng-show="errors.length">
                <ul>
                    <li ng-repeat="error in errors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"> Exam Name <span class="text-danger">*</span></label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="item.name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Exam Description <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.description" name="description" type="text" class="form-control"  >
                </div>
            </div>
            
            <h3 class="page-header" style="padding-left:50px"> Exam Stages</h3>
            <p style="padding-left:50px">Add exam stages.</p>
            <div class="container">
                <div class="col-md-12" ng-repeat="stage in item.stageModels">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> Stage Name <span class="text-danger">*</span></label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="stage.name" name="stageName{{$index+1}}" dynamic-validation="{required: true}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="name">Centers</label>
                             
                            <div class="col-sm-7">
                                <select class="form-control input-sm" ng-model="stage.examCenterIds" multiple name="stageCenter{{$index+1}}" dynamic-validation="{required: true}"
                                        ng-options="option.id as option.name for option in examCenters">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> </label>

                            <div class="col-sm-7">
                                <label class="chekbox">
                                    <input type="checkbox"  ng-model="stage.isActive" name="stageIsActive{{$index+1}}" dynamic-validation="{required: true}" /> Set as active
                                </label>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a ng-click="removeStage($index)" class="btn btn-danger btn-xs" tooltip="Remove"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                </div>
            </div>
            
            <div class="form-group" style="margin-bottom:50px">
                <div class="col-sm-5 col-sm-offset-3">
                    <a ng-click="addStage()" class="btn btn-primary btn-sm">Add another stage</a>
                </div>

            </div>
            <h3 class="page-header" style="padding-left:50px"> Exam Types</h3>
            <p style="padding-left:50px">Add exam types.</p>
            <div class="container">
                <div class="col-md-12" ng-repeat="type in item.typeModels">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">  Name <span class="text-danger">*</span></label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="type.name" name="typeName{{$index+1}}" dynamic-validation="{required: true}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="name">Description</label>

                            <div class="col-sm-7">
                                <textarea class="form-control input-sm" ng-model="type.description" rows="3" name="typeDescription{{$index+1}}" >
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> </label>

                            <div class="col-sm-7">
                                <label class="chekbox">
                                    <input type="checkbox" ng-model="type.isActive" name="typeIsActive{{$index+1}}" dynamic-validation="{required: true}" /> Set as active
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a ng-click="removeType($index)" class="btn btn-danger btn-xs" tooltip="Remove"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-bottom:50px">
                <div class="col-sm-5 col-sm-offset-3">
                    <a ng-click="addType()" class="btn btn-primary btn-sm">Add another type</a>
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                    <a class="btn btn-default" tooltip="Back to list" ng-click="goBack()"><i class="fa fa-remove"></i> Cancel</a>

                </div>

            </div>
        </form>
     
 
    </div>
</div>