﻿<div filter="filter.html"></div>
<div class="box box-solid box-default" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i class="fa fa-list"></i> Exams
        </h3>
        <div class="box-tools pull-right">
            
                <a class="btn btn-white btn-sm" title="Create Exams" ui-sref="examsetup.create"><i class="fa fa-plus"></i></a>
            <a tooltip="Search" class="btn btn-white btn-sm" ng-hide="hideFilter" ng-click="hideFilter=true">
                <span class="fa fa-search"></span>
            </a>
            <a class="btn btn-white btn-sm" ng-click="setupPagination()"><i class="fa fa-refresh" tooltip="Reload"></i></a>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>
                        Show
                        <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                ng-options="option.id as option.name for option in pageSize"></select> Entries
                    </label>

                </div>
            </div>
            <div class="col-md-12">

                <table class="table table-hover btn-gradient-grey">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ngRepeat: row in workflows -->
                        <tr ng-repeat="item in items">
                            <td>{{getIndexSeed($index)}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <span class="toggle" ng-bind-html="item.isActive|status"
                                      ng-class="{'check-color':item.isActive,'uncheck-color':!item.isActive}">
                                </span>
                            </td>
                            <td>
                                <a tooltip="Edit" class="btn btn-xs btn-primary" tooltip="Edit" ui-sref="examsetup.edit(item)">
                                    <span class="fa fa-edit"></span>
                                </a>
                                
                                <a tooltip="Details" class="btn btn-xs btn-primary"  ui-sref="examsetup.details(item)">
                                    <span class="fa fa-1x fa-book"></span>
                                </a>
                               
                                <a tooltip="{{item.isActive?'Deactivate':'Activate'}}" ng-click="toggleActive(item)" class="btn  btn-warning btn-xs">
                                    <span class="fa" ng-class="{'fa-times':item.isActive, 'fa-check':!item.isActive}"></span>
                                </a>
                            </td>
                             
                        </tr>
                        <tr>
                            <td colspan="8" ng-hide="items.length">
                                No records found to show
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-5">
                {{getPageInfoDescription()}}
            </div>
            <div class="col-md-7">
                <div class="pull-right">
                    <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                class="pagination" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="filter.html">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input class="form-control input-sm" id="name" placeholder="Enter name" ng-model="filter.name" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="code">Date Created From</label>
            <p class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="filter.dateCreatedFrom"
                       is-open="opened.dateCreatedFrom" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'dateCreatedFrom')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="code">Date Created To</label>
            <p class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="filter.dateCreatedTo"
                       is-open="opened.dateCreatedTo" datepicker-options="dateOptions" datepicker-popup="dd/MM/yyyy"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'dateCreatedTo')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</script>

