﻿

<div class="box box-primary" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">Details</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-success btn-sm" tooltip="Reload" ng-click="reloadPage()"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn btn-sm btn-primary" tooltip="Compose" ui-sref="memo.create"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-sm btn-warning" tooltip="Forward" ng-click="forwardMemo()"><i class="fa fa-mail-forward"></i></button>
            <button class="btn btn-danger btn-sm" tooltip="Back" ui-sref="memo.list"><i class="fa fa-backward"></i></button>
        </div>
    </div>
    <div class="box-body">
        <section class="panel">           
            <div ng-cloak>
                <md-content>
                  
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Message">
                            <md-content class="md-padding" style="background-color: white">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="box box-info">
                                            @*<div class="box-header with-border">
                                                <i class="fa fa-envelope-o"></i>
                                                <h3 class="box-title">Message</h3>
                                            </div>*@
                                            <div class="box-body">

                                                <table class="table table-condensed">
                                                    <tr>
                                                        <td><b>Sender:</b></td>
                                                        <td>{{item.senderName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 100px"><b>Date:</b></td>
                                                        <td>{{item.dateCreated |date:'dd/MM/yyyy h:mma'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Subject:</b></td>
                                                        <td>{{item.subject}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Body:</b></td>
                                                        <td>
                                                            <p ng-bind-html="item.body |unsafe"></p>
                                                        </td>
                                                    </tr>
                                                   

                                                </table>
                                            </div><!-- /.box-body -->
                                        </div><!-- /.box -->
                                    </div>
                                <div class="col-md-5">
                                    <div class="box box-danger">
                                        <div class="box-header with-border">
                                            <i class="fa fa-users"></i>
                                            <h3 class="box-title">
                                                <span ng-show="item.memoRecipients.length>1"> {{item.totalRecipients}} Recipients</span>
                                                <span ng-show="item.memoRecipients.length==1"> {{item.totalRecipients}} Recipient</span>
                                            </h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-danger btn-xs" data-toggle="collapse" href="#div-1"><i class="fa fa-minus"></i></button>                                               
                                            </div>
                                        </div><!-- /.box-header -->
                                        <div class="box-body collapse" id="div-1">                                         
                                            <div >
                                                <ul>
                                                    <li ng-repeat="recip in item.memoRecipients" class="no-animate">
                                                        {{recip.name}} &nbsp; <span ng-show="recip.isForwarded"> <i class="fa fa-reply"></i> {{recip.forwardedByName}}</span>
                                                        <span class="pull-right"> <i ng-class="{'fa fa-remove text-red':recip.readStatus==0,'fa fa-check text-green':recip.readStatus==1}"></i></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div>
                                </div>
                                <div class="col-md-12">
                                    <form id="inputForm" name="inputForm" novalidate class="form-horizontal validate-form">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <i class="fa fa-comments"></i>
                                                <h3 class="box-title">Recipient's Feedbacks ({{item.memoThreads.length}})</h3>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-primary btn-xs" data-toggle="collapse" href="#div-2"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div><!-- /.box-header -->
                                            <div class="box-body chat collapse" id="div-2">
                                                <!-- chat item -->
                                                <div class="item no-animate" ng-repeat="comment in item.memoThreads">
                                                    <img src="~/Content/images.png" alt="user image"/>

                                                    <p class="message">
                                                        <strong class="name">
                                                            <small class="text-muted pull-right text-red"><i class="fa fa-clock-o"></i> {{comment.dateCreated |date:'dd/MM/yyyy h:mma'}}</small>
                                                            {{comment.recipientName}} <br/>
                                                            <span class="text-muted text-blue" ng-show="comment.isForwarded"> <i class="fa fa-reply"></i> {{comment.forwardedBy}}  &nbsp;
                                                                 <small><i class="fa fa-clock-o"></i> {{comment.dateForwarded |date:'dd/MM/yyyy h:mma'}}</small>
                                                            </span>
                                                          
                                                        </strong>
                                                        
                                                       <span ng-bind-html="comment.comment |unsafe"></span>
                                                    </p>
                                                </div><!-- /.item -->
                                                <div class="item" ng-hide="item.memoThreads.length">
                                                    <p style="padding-right:50px">
                                                        No feedbacks found
                                                    </p>                                                 
                                                </div>
                                            </div><!-- /.chat -->
                                            <div class="box-footer">
                                                <div class="form-group">
                                                    <textarea ng-model="feedback.comment" class="form-control" rows="5" style="resize: vertical"
                                                              placeholder="Type your feedback here..." required error-message="Please enter your feedback."></textarea>

                                                </div>
                                                <div class="box box-default">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title"> Attach Files</h3>
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">
                                                        <div class="btn btn-default btn-file">
                                                            <i class="fa fa-paperclip"></i> Attachment File <input type="file" name="attachment" multiple="" />
                                                        </div>
                                                    </div><!-- /.box-body -->

                                                </div><!-- /.box -->             
                                                <div class="form-group">
                                                    <div class="input-group-btn">
                                                        <button type="button" ng-click="submitFeedback()" class="btn btn-success" tooltip="Send Feedback"><i class="fa fa-check"></i> Send</button>
                                                        <button type="button" class="btn btn-primary" tooltip="Forward Memo" ng-click="forwardMemo()"><i class="fa fa-mail-forward"></i> Forward</button>
                                                        <button type="button" class="btn btn-danger" tooltip="Back to list" ui-sref="memo.list"><i class="fa fa-backward"></i> Back</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    
                                </div>  
                            </md-content>
                        </md-tab>
                        <md-tab label="Attachments">
                            <md-content class="md-padding" style="background-color: white">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Attached Documents</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <ul class="products-list product-list-in-box">
                                                    <li class="item">
                                                        <div class="product-info">
                                                            No attachments
                                                        </div>
                                                    </li><!-- /.item -->
                                                </ul>
                                            </div><!-- /.box-body -->

                                        </div><!-- /.box -->
                                    </div>

                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Sender Profile">
                            <md-content class="md-padding" style="background-color: white">
                                <div class="col-md-8">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Sender Profile</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="box">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title"></h3>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body">
                                                            <img src="~/Assets/dist/img/user2-160x160.jpg" class="img img-responsive" style="width: 100%" />
                                                        </div>
                                                        <div class="box-footer text-center">
                                                            @*<h4>{{item.senderName}}</h4>
                                                            <h5>{{item.senderDesignationName}}</h5>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <table class="table table-condensed">
                                                        <tr>
                                                            <td style="width: 100px"><b>Name:</b></td>
                                                            <td>{{item.senderName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Department:</b></td>
                                                            <td>{{item.senderDepartmentName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Unit:</b></td>
                                                            <td> {{item.senderUnitName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Designation:</b></td>
                                                            <td> {{item.senderDesignationName}}</td>
                                                        </tr>

                                                    </table>
                                                     
                                                </div>
                                            </div>

                                        </div><!-- /.box-body -->

                                    </div>
                                </div>
                                
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>

        </section>
    </div>
</div>


<script type="text/ng-template" id="memoFeedback.html" class="modal">
    <form id="inputForm" name="inputForm" novalidate class="validate-form">
        <div class="modal-header bg-primary">
            <button class="btn btn-primary  btn-sm pull-right text-white" ng-click="closeModal()">
                <i class="fa fa-times fa-x"></i>
            </button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body" waiting="{{waiting}}" style="width:550px;">
            <div class="form-group">
                <label for="address" class="control-label">Enter Comment<span class="font-red">*</span></label>
                <textarea ng-model="item.comment" class="form-control" rows="5" style="resize:vertical"
                          required error-message="The Comment field is required"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-sm btn btn-success btn-sm" ng-click="submit()"><i class="fa fa-check"></i> Ok</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="closeModal()"><i class="fa fa-remove"></i> Cancel</button>
        </div>
    </form>

</script>


<script type="text/ng-template" id="forwardMemo.html" class="modal">
    <form id="inputForm" name="inputForm" novalidate class="validate-form">
        <div class="modal-header bg-primary">
            <button class="btn btn-primary  btn-sm pull-right text-white" ng-click="closeModal()">
                <i class="fa fa-times fa-x"></i>
            </button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body" waiting="{{waiting}}" style="width:550px;">
            <div class="form-group">
                <select ng-model="item.departmentId" ng-change="departmentChanged()" required error-message="The Department field is required"
                        ng-options="option.id as option.name for option in departments" class="form-control">
                    <option value="">---Select Department---</option>
                </select>
            </div>
            <div class="form-group">
                <select ng-model="item.recipientId" required error-message="The Recipient field is required"
                        ng-options="option.id as option.name for option in recipients" class="form-control">
                    <option value="">---Select Recipient---</option>
                </select>
            </div>
            <div class="form-group">
                <label for="address" class="control-label">Enter Comment<span class="font-red">*</span></label>
                <textarea ng-model="item.comment" class="form-control" rows="5" style="resize:vertical"
                          required error-message="The Comment field is required"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-sm btn btn-success btn-sm" ng-click="submit()"><i class="fa fa-check"></i> Ok</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="closeModal()"><i class="fa fa-remove"></i> Cancel</button>
        </div>
    </form>

</script>



@*<div class="box-body">
    <div class="box-group" id="accordion">
        
        <div class="panel box box-solid" ng-repeat="comment in item.memoThreads">
            <div class="box-header with-border">
                <div class="box-tools pull-right">
                    {{item.dateCreated |date:'dd/MM/yyyy h:mma'}}
                </div>
                <h5 class="box-title">
                    <i class="fa fa-user"></i>
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{comment.id}}">
                        {{comment.recipientName}}
                    </a>
                </h5>
            </div>
            <div id="{{comment.id}}" class="panel-collapse collapse">
                <div class="box-body">
                    <p>{{comment.comment}}</p>
                </div>
            </div>
        </div>
        <div ng-hide="item.memoThreads.length">
            No feedback
        </div>

    </div>
</div>*@ 


<script>

   
    

</script>