﻿

<div class="box box-primary" ng-controller="MemoFormCtrl" waiting="{{waiting}}">
    <div class="box-header with-border">
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" tooltip="Back" ui-sref="memo.list"><i class="fa fa-reply"></i></button>
        </div>
        <h3 class="box-title"><i class="fa fa-mail-forward"></i> {{formTitle}}</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form id="inputForm" name="inputForm" novalidate class="form-horizontal validate-form">
            <div class="row">
                <div class="col-md-8">

                    <div class="form-group col-md-12">
                        <div class="box-group" id="accordion">
                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        To Recipients <span>({{demoOptions.selectedItems.length}})</span>
                                    </h4>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-toggle="collapse" href="#div-2"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body collapse" id="div-2">
                                    <div>
                                        <select ng-model="item.departmentId" ng-change="departmentChanged()"
                                                ng-options="option.id as option.name for option in departments" class="form-control">
                                            <option value="">---All Departments---</option>
                                        </select>
                                    </div>
                                    <div>
                                        <dualmultiselect options="demoOptions"> </dualmultiselect>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <table class="table table-condensed">
                            <tr>
                                <td>{{item.subject}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <p ng-bind-html="item.body |unsafe"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group col-md-12">
                        <textarea ui-tinymce="tinymceOptions"  rows="7" ng-model="item.comment" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                         
                    </div>
                    <div class="col-md-12">
                        <div class="input-group-btn">
                            <button type="button" ng-click="submitAsForward()" class="btn btn-success" tooltip="Send Memo"> <i class="fa fa-check"></i> Send</button>
                            <button class="btn btn-danger" title="Back to list" ui-sref="memo.details({id: $stateParams.id})" tooltip="Discard Memo"><i class="fa fa-remove"></i> Discard</button>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title"> Attach Files</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="btn btn-default btn-file">
                                <i class="fa fa-paperclip"></i> Attachment File <input type="file" name="attachment" multiple="" />
                            </div>
                        </div><!-- /.box-body -->

                    </div><!-- /.box -->
                     
                </div>
            </div>
        </form>
    </div>
</div><!-- /. box -->


