﻿

<div class="row" waiting="{{waiting}}">
    <div class="col-md-2">
        <a ui-sref="memo.create" class="btn btn-primary btn-block margin-bottom"> <i class="fa fa-plus"></i> Compose</a>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Folders</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#" ng-click="getByFolderType('Memo Box',1)"><i class="fa fa-inbox"></i> Memo Box</a></li>
                    <li><a href="#" ng-click="getByFolderType('Draft',2)"><i class="fa fa-file-text-o"></i> Drafts</a></li>

                </ul>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm" tooltip="Search" data-toggle="collapse" href="#div-search"><i class="fa fa-search"></i></button>
                        <button class="btn btn-warning btn-sm" tooltip="Reload" ng-click="setupPagination()"><i class="fa fa-refresh"></i></button>
                    </div><!-- /.btn-group -->                  
                </div><!-- /.box-tools -->
                <h3 class="box-title">{{formTitle}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <div class="collapse" id="div-search">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail" />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>              
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped pn">
                        <thead>
                        <tr>
                            <td ></td>
                            <th></th>
                            <th>Sender</th>
                            <th>Subject</th>
                            <th><i class="fa fa-users"></i></th>
                            <th></th>
                            <th>Date</th>
                            <th ng-show="items[0].folderType==2">Actions</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in items" class="no-animate">
                            <td style="width: 30px">
                                <i ng-show="item.folderType==2" class="fa fa-file-text text-red" tooltip="Draft"></i>
                                <i ng-show="item.memoBoxType==1 && item.folderType==1" class="fa fa-arrow-left text-green" tooltip="Inbox"></i>
                                <i ng-show="item.memoBoxType==2 && item.folderType==1" class="fa fa-arrow-right text-yellow" tooltip="Outbox"></i>

                            </td>
                            <td style="width: 30px">
                            <span ng-show="item.hasBeenRead"><i class="fa fa-envelope-open"></i></span>
                                <span ng-show="!item.hasBeenRead"><i class="fa fa-envelope"></i></span> 
                            <td>
                                <a href="" ng-click="rowClicked(item)">{{item.senderName}}</a>
                            </td>
                            <td><a href="" ng-click="rowClicked(item)">{{item.subject}}</a></td>
                            <td style="width:30px"><span class="badge">{{item.totalRecipients}}</span></td>
                            <td style="width:30px"><i class="fa fa-paperclip"></i></td>
                            <td style="width: 180px">{{item.dateCreated |date:'dd/MM/yyyy h:mma'}}</td>
                            <td style="width: 80px" ng-show="item.folderType==2">
                                <a tooltip="Edit" class="btn btn-xs btn-primary" ui-sref="memo.edit({id:item.id})">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a tooltip="Delete" class="btn btn-xs btn-danger" ng-click="deleteItem(item)">
                                    <span class="fa fa-remove"></span>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="items.length">
                            <td colspan="10">
                                No memo found to show
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                   
                    <div>
                        1-50/200
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div>
