﻿
<form class="box box-solid box-default" validation waiting="{{waiting}}" ng-controller="PaymentFeeFormCtrl">
    <div class="box-header">
        <span class="panel-title pn">
            {{title}}
        </span>
        <div class="pull-right">
            <a tooltip="back" class="btn btn-white btn-sm" ng-click="goBack()"><i class="fa fa-reply"></i>  </a>
        </div>
    </div>
    <div class="box-body">
        <div class="form-horizontal">
            <div class="alert alert-danger" ng-show="errors.length">
                <ul>
                    <li ng-repeat="error in errors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group ">
                <label for="name" class="col-sm-3 control-label">Name<span class="font-red">*</span></label>
                <div class="col-sm-5">
                    <input id="name" name="name" ng-model="item.name" placeholder="Name" class="form-control required" />
                </div>
            </div>
            <div class="form-group ">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-5">
                    <textarea id="description" name="description" ng-model="item.description" placeholder="Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group ">
                <label for="description" class="col-sm-3 control-label">Amount<span class="font-red">*</span></label>
                <div class="col-sm-5">
                    <input id="amount" name="amount" type="number" ng-model="item.amount" placeholder="Amount in naira" class="form-control required" />
                </div>
            </div>
            <div class="form-group ">
                <label for="accountId" class="col-md-3 control-label">Account<span class="font-red">*</span></label>
                <div class="col-md-5">
                    <select ng-model="item.accountId" class="form-control required"
                            name="accountId" id="accountId"
                            ng-options="option.id as option.name for option in accounts">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="form-group " >
                <label for="amount" class="col-md-3 control-label">Due on</label>
                <div class="col-md-3">
                    <select ng-model="item.dueMonth" class="form-control"
                            name="dueMonth"
                            ng-options="option.value as option.name for option in months">
                        <option value="">--Select month--</option>
                    </select>
                </div>
                 
                <div class="col-md-2">
                    
                    <select ng-model="item.dueDay" class="form-control"
                            name="dueDay"
                            ng-options="option.value as option.name for option in days">
                        <option value="">--Select day--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button class="btn-sm btn btn-success"><i class="fa fa-check"></i> Save &amp; Continue</button>
                    <a class="btn btn-warning btn-sm " ng-click="reloadForm()"><i class="fa fa-refresh"></i> Reset</a>

                </div>
            </div>
        </div>
    </div>

</form>

