﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>NPMC</title>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Font Awesome Icons -->
    <link href="~/Assets/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Ionicons -->
    <link href="~/Assets/bootstrap/css/ionicons.min.css" rel="stylesheet"/>
    <!-- Theme style -->
    <link href="~/Assets/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link href="~/Assets/dist/css/skins/skin-blue.min.css" rel="stylesheet"/>
    <link href="~/Assets/dist/css/skins/skin-green.min.css" rel="stylesheet"/>
    <link href="~/Content/animate.css" rel="stylesheet"/>
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet"/>
    <link href="~/Scripts/angular_Busy/angular-busy.min.css" rel="stylesheet"/>
    <link href="~/Scripts/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="~/Scripts/kendo/kendo.flat.min.css" rel="stylesheet"/>

    <link href="~/Content/waitMe.min.css" rel="stylesheet"/>
    <link href="~/Scripts/angularMaterial/angular-material.css" rel="stylesheet"/>
    <link href="~/Scripts/angularDualSelect/dualmultiselect.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @*<base href="/">*@
</head>
<body class="skin-green layout-top-nav fixed">
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <b>NPMC</b>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signup <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" ui-sref="account.candidatesignup">Signup as Candidate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <div class="content-wrapper">
        <div class="container">
            <!-- Main content -->
            <section class="content">
                <div class="span12 ui-view-container" style="min-height: 300px">
                    <div style="min-height: 300px" class="animated-view" ui-view="main"></div>
                </div>
            </section><!-- /.content -->
        </div>

    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <strong>
                <p> &copy; @DateTime.Now.Year -All rights reserved.</p>
            </strong>
        </div>

    </footer>
</div><!-- ./wrapper -->
<!-- jQuery 2.1.3 -->
<script src="~/Assets/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="~/Assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- SlimScroll -->
<script src="~/Assets/plugins/slimScroll/jquery.slimScroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src='~/Assets/plugins/fastclick/fastclick.min.js'></script>
<!-- AdminLTE App -->
<script src="~/Assets/dist/js/app.min.js" type="text/javascript"></script>
<script src="~/Scripts/waitMe.min.js"></script>

<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-resource.min.js"></script>
<script src="~/Scripts/angular/angular-sanitize.min.js"></script>
<script src="~/Scripts/angular/angular-animate.min.js"></script>
<script src="~/Scripts/angular/angular-route.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/Scripts/statehelper.min.js"></script>
<script src="~/Scripts/uiBreadcrumbs.js"></script>
<script src="~/Scripts/toastr/toastr.min.js"></script>
<script src="~/Scripts/angular/angular-ui-select.min.js"></script>
<script src="~/Scripts/angular/ng-file-upload.min.js"></script>
<script src="~/Scripts/angular/ng-file-upload-shim.min.js"></script>
<script src="~/Scripts/CustomFormValidator.js"></script>
<script src="~/Scripts/jquery.cokie.min.js"></script>
<script src="~/Scripts/angular_Busy/angular-busy.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/toastr.js"></script>

<script src="~/Scripts/WYSIWYG/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/WYSIWYG/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/WYSIWYG/tinymce.min.js"></script>
<script src="~/Scripts/angularMaterial/angular-aria.js"></script>
<script src="~/Scripts/angularMaterial/angular-material.js"></script>
<script src="~/Scripts/angularDualSelect/dualmultiselect.js"></script>
@Scripts.Render("~/bundles/common")
@Scripts.Render("~/bundles/account")

</body>
</html>