﻿@{
    ViewBag.Title = "President";
}

<div class="ui-view-container" style="min-height:500px">
    <div class="animated-view" ui-view="main"></div>
</div>



@section scripts{
  
    @Scripts.Render("~/bundles/president")
  
}