﻿<div class="box box-solid box-default" ng-controller="DietFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{formTitle}}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" title="Back to list" ui-sref="dietsetup.list">
                <i class="fa fa-reply"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form id="inputForm" name="inputForm" novalidate class="form-horizontal  validate-form">

            <div class="form-group">
                <label class="control-label col-sm-3"> Diet Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="item.name" required error-message="The Exam name is required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Diet Description</label>
                <div class="col-sm-5">
                    <input type="text" placeholder="Description" class="form-control" ng-model="item.description" required error-message="The exam description is required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">Start Date</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="item.startDate"
                           is-open="opened.startDate" datepicker-options="dateOptions"
                           ng-disabled="true" close-text="Close"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'startDate')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">End Date</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="item.endDate"
                           is-open="opened.endDate" datepicker-options="dateOptions"
                           ng-disabled="true" close-text="Close"/>
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'endDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-3"> Diet Deferent Percentage</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" ng-model="item.defermentPercentage" required error-message="The Deferrement is required"/>
                </div>
            </div>




            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="button" ng-click="submitForm()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                    <button class="btn btn-danger" title="Back to list" ui-sref="dietsetup.list"><i class="fa fa-remove"></i> Cancel</button>

                </div>

            </div>
        </form>
    </div>
</div>