﻿<div class="box box-solid box-default" ng-controller="ExamRequirementFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{formTitle}}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" title="Back to list" ui-sref="examrequirement.list">
                <i class="fa fa-reply"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
            <form id="inputForm" name="inputForm" novalidate class="form-horizontal  validate-form">
                <div class="form-group">
                    <label class="col-sm-3 control-label"> Exam Requirement Name <span class="text-danger">*</span></label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="item.name" required error-message="The Exam Requirement name is required" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Exam Requirement Description <span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                        <input type="text" placeholder="Description" class="form-control" ng-model="item.description" required error-message="The Exam Requirement Description is required"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Exam Type<span class="text-danger">*</span></label>
                    <div class="col-sm-5">
                        <input type="text" placeholder="{{examName}}" class="form-control" ng-model="examName" ng-disabled="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <button type="button" ng-click="submitForm()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                        <button class="btn btn-danger" title="Back to list" ui-sref="examrequirement.list"><i class="fa fa-remove"></i> Cancel</button>

                    </div>

                </div>
            </form>
    </div>
</div>