﻿

<div class="row">
    <div class="col-md-9">
        <div class="box box-solid box-default" waiting="{{waiting}}">
            <div class="box-header">
                <h3 class="box-title">
                    <i class="fa fa-list"></i> Exam Requirements
                </h3>
                <div class="box-tools pull-right">

                    <a class="btn btn-success btn-sm" title="Create Exams" ui-sref="examrequirement.create({examId: filter.examId})"><i class="fa fa-plus"></i></a>

                    <a class="btn btn-white btn-sm" ng-click="setupPagination()"><i class="fa fa-refresh" tooltip="Reload"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label>
                                Show
                                <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                        ng-options="option.id as option.name for option in pageSize"></select> Entries
                            </label>

                        </div>
                    </div>
                    <div class="col-md-12">

                        <table class="table table-hover btn-gradient-grey">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ngRepeat: row in workflows -->
                                <tr ng-repeat="item in items">
                                    <td>{{getIndexSeed($index)}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.description}}</td>
                                     <td>
                                        <a tooltip="Edit" class="btn btn-xs btn-primary" tooltip="Edit" ui-sref="examrequirement.edit({id:item.id})">
                                            <span class="fa fa-folder-open-o"></span>
                                        </a>

                                        <a tooltip="Delete" class="btn btn-xs btn-danger" ng-click="deleteItem(item)" tooltip="Delete">
                                            <span class="fa fa-remove"></span>
                                        </a>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="8" ng-hide="items.length">
                                        No records found to show
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="col-md-5">
                        {{getPageInfoDescription()}}
                    </div>
                    <div class="col-md-7">
                        <div class="pull-right">
                            <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                        ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                        class="pagination" boundary-links="true" rotate="false"></pagination>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="block">
             <h3 class="block-title">Filter Options</h3>
            <div class="block-header"></div>
            <div class="form-group">
                <label>Exam Type</label>
                <select ng-model="filter.examId" ng-change="examtypeChanged()" class="form-control"
                        ng-options="c.id as c.name for c in exams">
                    <option value="">--select--</option>
                </select>
            </div>

        </div>
     </div>
</div>