﻿

<div filter="filter.html"></div>

<div class="box box-solid box-default" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i class="fa fa-list"></i> Audit Trail
        </h3>
        <div class="box-tools pull-right">
            <a tooltip="Search" class="btn btn-white btn-sm" ng-hide="hideFilter" ng-click="hideFilter=true">
                <span class="fa fa-search"></span>
            </a>
            <a class="btn btn-white btn-sm" ng-click="setupPagination()"><i class="fa fa-refresh" tooltip="Reload"></i></a>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>
                        Show
                        <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                ng-options="option.id as option.name for option in pageSize"></select> Entries
                    </label>

                </div>
            </div>
            <div class="col-md-12">

                <table class="table table-hover btn-gradient-grey">
                    
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Section</th>
                        <th>Action</th>
                        <th>IP</th>
                        <th>Time Stamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ngRepeat: row in workflows -->
                    <tr ng-repeat="item in items">
                        <td>{{getIndexSeed($index)}}</td>
                        <td><a ng-click="showUserDetailModal(item.userProfileId)" class="btn-link">{{item.firstName}} {{item.lastName}}</a></td>

                        <td>{{item.details}}</td>
                        <td>{{item.auditSection}}</td>
                        <td>{{item.auditAction}}</td>
                        <td>{{item.userIP}}</td>
                        <td>{{item.timestamp|date:'dd/MM/yyyy h:mma'}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" ng-hide="items.length">
                            No records found to show
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-5">
                {{getPageInfoDescription()}}
            </div>
            <div class="col-md-7">
                <div class="pull-right">
                    <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                class="pagination" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="filter.html">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="firstName">First Name</label>
            <input class="form-control input-sm" id="firstName" placeholder="Enter name" ng-model="filter.firstName" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="lastName">Last Name</label>
            <input class="form-control input-sm" id="lastName" placeholder="Enter name" ng-model="filter.lastName" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="userName">Username</label>
            <input class="form-control input-sm" id="userName" placeholder="Enter code" ng-model="filter.userName" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="userName">User IP</label>
            <input class="form-control input-sm" id="userName" placeholder="User IP" ng-model="filter.userIP" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="code">Timestamp From</label>
            <p class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-model="filter.dateCreatedFrom"
                       is-open="opened.dateCreatedFrom" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'dateCreatedFrom')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="code">Timestamp To</label>
            <p class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="filter.dateCreatedTo"
                       is-open="opened.dateCreatedTo" datepicker-options="dateOptions" datepicker-popup="dd/MM/yyyy"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="openDate($event,'dateCreatedTo')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="name">Audit Section</label>
            <select class="form-control input-sm" ng-model="filter.auditSectionId" ng-change="sectionChanged()"
                    ng-options="option.value as option.name for option in auditSections">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="name">Audit Action</label>
            <select class="form-control input-sm" ng-model="filter.auditActionId"
                    ng-options="option.value as option.name for option in auditActions">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
     
</script>