﻿
<div class="box box-solid box-default" ng-controller="WorkshopFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{formTitle}}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" title="Back to list" ui-sref="workshop.list">
                <i class="fa fa-reply"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form id="inputForm" name="inputForm" novalidate class="form-horizontal  validate-form">
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-5">
                    
                    <input type="text" placeholder="Name" class="form-control" ng-model="item.name" required error-message="The Workshop Name field is required" />
                   
                    </div>
                </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Description</label>
                <div class="col-md-5">
                    
                        <input type="text" placeholder="Description" class="form-control" ng-model="item.description" required error-message="The Description field is required"/>
                   
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Venue</label>
                    <div class="col-md-5">
                        
                        <input type="text" placeholder="Venue" class="form-control" ng-model="item.venue" required error-message="The Venue field is required" />
                      
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Start Date</label>

                    <div class="col-md-5" >
                        <div class="input-group">
                            <input type="text" placeholder="Start Date" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="item.startDate"
                                   is-open="opened.startDate" datepicker-options="dateOptions"
                                   ng-disabled="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn  btn-default" ng-click="openDate($event,'startDate')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">End Date</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" placeholder="End Date" class="form-control " datepicker-popup="dd/MM/yyyy" ng-model="item.endDate"
                                   is-open="opened.endDate" datepicker-options="dateOptions"
                                   ng-disabled="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn  btn-default" ng-click="openDate($event,'endDate')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>


                </div>

                <div class="form-group">
                    <label for="paymentCategoryId" class="col-md-3 control-label">Category<span class="font-red">*</span></label>
                    <div class="col-md-5">
                        <select ng-model="item.paymentCategoryId" class="form-control" required
                                name="paymentCategoryId" id="paymentCategoryId" ng-change="paymentCategoryChanged()"
                                ng-options="option.id as option.name for option in categories">
                            <option value="">--Select Category--</option>
                        </select>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="paymentFeeId" class="col-md-3 control-label">Amount Payable<span class="font-red">*</span></label>
                    <div class="col-md-5">
                        <select ng-model="item.paymentFeeId" class="form-control required"
                                name="paymentFeeId" id="paymentFeeId"
                                ng-options="option.id as option.name for option in paymentFees">
                            <option value="">--Select Amount--</option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-4">
                        <button type="button" ng-click="submitForm()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                        <button class="btn btn-danger" title="Back to list" ui-sref="manageuser.list"><i class="fa fa-remove"></i> Cancel</button>

                    </div>

                </div>
</form>
    </div>
</div>