﻿
<div filter="filter.html"></div>

<div class="box box-solid box-default" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i class="fa fa-list"></i> Manage Workshops
        </h3>
        <div class="box-tools pull-right">
            <a class="btn btn-success btn-sm" title="Create Workshop" ui-sref="workshop.create"><i class="fa fa-plus"></i></a>
            <a tooltip="Search" class="btn btn-primary btn-sm" ng-hide="hideFilter" ng-click="hideFilter=true">
                <span class="fa fa-search"></span>
            </a>
            <a tooltip="Reload" class="btn btn-warning btn-sm"  ng-click="reloadPage()">
                <span class="fa fa-refresh"></span>
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>
                        Show
                        <select ng-model="paginationConfig.count" ng-change="pageChanged()"
                                ng-options="option.id as option.name for option in pageSize"></select> Entries
                    </label>

                </div>
            </div>
            <div class="col-md-12">

                <table class="table table-bordered table-striped pn">
                    <thead>
                        <tr>
                            <th style="width: 25px">#</th>
                            <th>Name</th> 
                            <th>Venue</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Amount Payable</th>
                            <th>Created Date</th> 
                            <th>Approved</th> 
                            <th style="width: 100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items" class="no-animate">
                            <td>{{getIndexSeed($index)}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.venue}}</td>
                            <td>{{item.startDate| date}}</td>
                            <td>{{item.endDate |date}}</td>
                            <td>{{item.amountPayable}}</td>
                            <td>{{item.createdDate | date}}</td>
                            
                            <td class="text-center">
                                <span ng-class="{'fa fa-check':item.isApproved,'fa fa-remove':!item.isApproved}"></span>
                            </td>
                           
                            <td>
                                <a tooltip="Edit" class="btn btn-xs btn-primary" tooltip="Edit" ui-sref="workshop.edit({id:item.id})">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a tooltip="Delete" class="btn btn-xs btn-danger" ng-click="deleteItem(item)" tooltip="Delete">
                                    <span class="fa fa-remove"></span>
                                </a>
                            </td>
                        </tr>
                </table>
            </div>
            <div class="col-md-5">
                {{getPageInfoDescription()}}
            </div>
            <div class="col-md-7">
                <div class="pull-right">
                    <pagination total-items="paginationConfig.total" ng-change="pageChanged()"
                                ng-model="paginationConfig.page" items-per-page="paginationConfig.count" max-size="5"
                                class="pagination" boundary-links="true" rotate="false"></pagination>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="filter.html">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" ng-model="filter.Name" class="form-control input-sm" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date Created From</label>
            <div class="input-group">
                <input type="text" class="form-control " datepicker-popup="dd/MM/yyyy" ng-model="filter.dateCreatedFrom"
                       is-open="opened.dateCreatedFrom" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn  btn-default" ng-click="openDate($event,'dateCreatedFrom')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date Created Date To</label>
            <div class="input-group">
                <input type="text" class="form-control " datepicker-popup="dd/MM/yyyy" ng-model="filter.dateCreatedTo"
                       is-open="opened.dateCreated" datepicker-options="dateOptions"
                       ng-disabled="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDate($event,'dateCreated')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</script>