﻿<div class="box box-solid box-default" ng-controller="ManageUserFormCtrl" waiting="{{waiting}}">
    <div class="box-header">
        <h3 class="box-title">
            <i ng-class="{'fa fa-plus-square':!isEditMode,'fa fa-edit':isEditMode}"></i> {{formTitle}}
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-warning btn-sm" title="Back to list" ui-sref="manageuser.list">
                <i class="fa fa-reply"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form id="inputForm" name="inputForm" novalidate class="form-horizontal  validate-form">
            <div class="form-group">
                <label class="control-label col-lg-3">First Name</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" ng-model="item.firstName" required error-message="The First Name field is required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">Last Name</label>
                <div class="col-lg-5">
                    <input type="text" placeholder="Surname" class="form-control" ng-model="item.lastName" required error-message="The Last Name field is required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-3">Other Names</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" ng-model="item.otherNames"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">Phone</label>

                <div class="col-lg-5">
                    <input type="text" class="form-control" ng-model="item.phoneNumber" required error-message="The Phone field is required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">Email</label>

                <div class="col-lg-5">
                    <input type="email" class="form-control" ng-model="item.email" required error-message="The Email field is required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">Gender</label>
                <div class="col-lg-5">
                    <select class="form-control" required error-message="The Gender field is required"
                            data-ng-model="item.gender">
                        <option value="">--Select--</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">Department <span class="text-red">*</span></label>
                <div class="col-lg-5">
                    <select ng-model="item.departmentId" ng-change="departmentChanged()"
                            ng-options="option.id as option.name for option in departments" class="form-control">
                        <option value="">---select---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">Unit <span class="text-red">*</span></label>
                <div class="col-lg-5">
                    <select ng-model="item.unitId"
                            ng-options="option.id as option.name for option in units" class="form-control">
                        <option value="">---select---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5 col-lg-offset-3">
                    <button type="button" ng-click="submitForm()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                    <button class="btn btn-danger" title="Back to list" ui-sref="manageuser.list"><i class="fa fa-remove"></i> Cancel</button>

                </div>

            </div>
        </form>
    </div>
</div>


