﻿
<form class="box box-solid box-default" validation waiting="{{waiting}}" ng-controller="AccountFormCtrl">
    <div class="box-header">
        <span class="panel-title pn">
            {{title}}
        </span>
        <div class="pull-right">
            <a tooltip="back" class="btn btn-white btn-sm" ng-click="goBack()"><i class="fa fa-reply"></i>  </a>
        </div>
    </div>
    <div class="box-body">
        <div class="form-horizontal">
            <div class="alert alert-danger" ng-show="errors.length">
                <ul>
                    <li ng-repeat="error in errors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group ">
                <label for="name" class="col-sm-3 control-label">Name<span class="font-red">*</span></label>
                <div class="col-sm-5">
                    <input id="name" name="name" ng-model="item.name" placeholder="" class="form-control" />
                </div>
            </div>
            <div class="form-group ">
                <label for="name" class="col-sm-3 control-label">Number<span class="font-red">*</span></label>
                <div class="col-sm-5">
                    <input id="number" name="number" ng-model="item.number" placeholder="" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button class="btn-sm btn btn-success"><i class="fa fa-check"></i> Save &amp; Continue</button>
                    <a class="btn btn-warning btn-sm " ng-click="reloadForm()"><i class="fa fa-refresh"></i> Reset</a>

                </div>
            </div>
        </div>
    </div>

</form>

