﻿



<div class="login-box" waiting="{{waiting}}">
    <div class="login-logo">
        <h3><b>Candidate Signup</b></h3>
    </div>
    <div class="login-box-body text-center">
        <p class="login-box-msg">Enter your information</p>
        <form id="dataForm" name="dataForm" novalidate class="validate-form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Last Name" autofocus ng-model="item.lastName"
                       required error-message="Enter your last name"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="First Name" ng-model="item.firstName"
                       required error-message="Enter your first name"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Other Names" ng-model="item.otherNames" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <select class="form-control" required error-message="The Gender field is required"
                        data-ng-model="item.gender">
                    <option value="">--Gender--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" ng-model="item.email"
                       required error-message="Enter a valid email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Phone Number" ng-model="item.phoneNumber"
                       required error-message="Enter your phone number" />
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ng-click="candidateSignup()">Submit</button>
                </div><!-- /.col -->
            </div>
        </form>
        <a ui-sref="account.login">Back to Login</a><br>
    </div> 
</div> 