﻿



<div class="login-box" waiting="{{waiting}}">
    <div class="login-logo">
        <h3><b>Change Your Password</b></h3>
    </div>
    <div class="login-box-body text-center">
        <p class="login-box-msg">Welcome {{userProfile.firstName}}, you are required to change your password.</p>
        <form id="dataForm" name="dataForm" novalidate class="validate-form">
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Old Passprd" autofocus ng-model="item.oldPassword"
                       required error-message="Enter your old password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="New Password" ng-model="item.newPassword"
                       required error-message="Enter new password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="item.confirmPassword"
                        required error-message="Enter confirm password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
           
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ng-click="submit()">Submit</button>
                </div><!-- /.col -->
            </div>
        </form>
        <a ui-sref="account.login">Cancel</a><br>
    </div> 
</div> 