﻿

<div class="login-box" waiting="{{waiting}}">
    <div class="login-logo">
        <h3><b>Email Confirmed Successfully</b></h3>
    </div>
    <div class="login-box-body text-center">
        <form>
            <div class="form-group has-feedback">
                <p>Your email was successfully confirmed.</p>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ui-sref="account.login">Proceed to Login</button>
                </div><!-- /.col -->
            </div>
        </form>
    </div>
</div> 