﻿

<div class="login-box" waiting="{{waiting}}">
    <div class="login-logo">
        <h3 class="text-red"><b>Email Not Confirmed</b></h3>
    </div>
    <div class="login-box-body text-center">
        <form>
            <div class="form-group has-feedback">
                <p>Sorry, your email confirmation failed. Please try again</p>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ui-sref="account.login">Proceed to Login</button>
                </div><!-- /.col -->
            </div>
        </form>
    </div>
</div> 