﻿
<div class="login-box" waiting="{{waiting}}">
    <div class="login-logo">
        <h3><b>Forget Your Password?</b></h3>
    </div>
    <div class="login-box-body text-center">
        <p class="login-box-msg">Enter your email</p>
        <form id="dataForm" name="dataForm" novalidate class="validate-form">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" ng-model="item.email"
                       required error-message="Enter your email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ng-click="submit()">Submit</button>
                </div><!-- /.col -->
            </div>
        </form>
        <a ui-sref="account.login">Back to login</a><br>
    </div>
</div> 