﻿



<div class="login-box" waiting="{{waiting}}">
    <div class="login-logo">
        <h3><b>Login</b></h3>
    </div>
    <div class="login-box-body text-center">
        <p class="login-box-msg">Login to start your session</p>
        <form id="dataForm" name="dataForm" novalidate class="validate-form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="User Name" autofocus ng-model="item.userName"
                       required error-message="Enter your username"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="item.password" 
                       required error-message="Enter your password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ng-click="login()">Login</button>
                </div><!-- /.col -->
            </div>
        </form>
        <a ui-sref="account.forgotpassword">I forgot my password</a><br>
    </div> 
</div> 