﻿
<div class="login-box">
    <div class="login-logo">
        <h3><b>Signup Completed Successfully</b></h3>
    </div>
    <div class="login-box-body text-center">      
        <form>
            <div class="form-group has-feedback">
                <p>Your signup was successful, a confirmation link with login credentials has been sent to your email. Please click on the link to confirm your email.</p>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-block btn-flat" ui-sref="account.login">Proceed to Login</button>
                </div><!-- /.col -->
            </div>
        </form>      
    </div>
</div> 