﻿ 
<form class="filter" ng-show="hideFilter" ng-submit="setupPagination()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Search</span>
            <div class="pull-right">
                <a href="#" ng-click="hideFilter=false" class="btn btn-danger">
                    <i class="fa fa-times"></i> 
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-include="filterTemplate"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" ng-click="resetFiltering()" class="btn btn-success"><i class="fa fa-close"></i> Reset</a>

                    <a href="#" ng-show="items.length>0 && enableDownload" ng-click="downloadAsExcel()" class="btn btn-warning">
                        <i class="fa fa-download"></i> Export Excel
                    </a>
                    <div class="pull-right">
                         
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Search</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
   
</form> 