﻿<div class="box box-solid box-default" waiting="{{waiting}}" ng-controller="SubSpecialtyFormCtrl">
    <div class="box-header">
        <span class="panel-title pn">
            {{title}}
        </span>
        <div class="pull-right">
            <a tooltip="back" class="btn btn-white btn-sm" ng-click="goBack()"><i class="fa fa-reply"></i>  </a>
        </div>
    </div>
    <!-- form start -->
    <form role="form" class="form-horizontal" validation>
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input ng-model="item.name" type="text" name="name" class="form-control required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Faculty <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <select ng-model="item.facultyId" ng-options="faculty.id as faculty.name for faculty in faculties" class="form-control required">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Payment Category <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <select name="paymentCategory" ng-change="paymentCategoryChanged()" ng-model="item.paymentCategoryId" ng-options="category.id as category.name for category in categories" class="form-control required">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Amount Payable <span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <select name="paymentFee" ng-model="item.paymentFeeId" ng-options="paymentFee.id as paymentFee.name for paymentFee in paymentFees" class="form-control required">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="submit" class="btn btn-warning">Reset</button>
                </div>

            </div>
        </div>
    </form>
</div>